<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{layout/header :: headerFragment}"></div>

<div class="container">
    <form>
        <input type="hidden" id="id" th:value="${board.id}"/>
        <div class="form-group">
            <input th:value="${board.title}" type="title" name="title" class="form-control" placeholder="Enter title" id="title">
        </div>

        <div class="form-group">
            <textarea th:text="${board.content}" class="form-control summernote" rows="5" id="content"></textarea>
        </div>
    </form>
    <button id="btn-update" class="btn btn-primary">작성</button>

</div>

<script>
    $('.summernote').summernote({
        tabsize: 2,
        height: 300
    });
</script>
<script src="/js/board.js"></script>

<div th:replace="~{layout/footer :: footerFragment}"></div>


</body>
</html>


